OPENAI_API_KEY=
TRACEOTTER_PUBLIC_KEY=
TRACEOTTER_SECRET_KEY=
TRACEOTTER_HOST=https://api.traceotter.com
TRACEOTTER_TIMEOUT=5
TRACEOTTER_USE_GRPC=true
TRACEOTTER_GRPC_PORT=50051
TRACEOTTER_FLUSH_AT=512
TRACEOTTER_FLUSH_INTERVAL=5
